//Google Font
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    height: 100vh;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.8rem;
    background: #1a1a1a;
}

body a{
    text-decoration: none;
}